// Colors
$lightSlate: #6e8898;
$white: #f7fdff;
$blueYonder: #9fb1bc;
$darkSlate: #2e5266;
$granite: #656565;
$disabled: rgba(100, 100, 100, 0.8);

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
}
