@import "../Styling/variables.scss";

.input-disabled {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.patient-view-container {
  flex-basis: 80%;
  background-color: $light;
  .entries-list {
    width: 100%;
    .card-header {
      background-color: $lilac;
      border: none;
      p {
        color: $light !important;
        font-weight: 500;
        text-align: center;
      }
    }
    textarea {
      width: 100%;
    }
    .new-visit {
      margin: 1%;
      margin-top: 0;
      transition: all 100ms;
      border-color: $navy;
      color: $light;
      background-color: $navy;
      border-style: solid;
      border-radius: 3px;
      padding: 1%;
      font-weight: 600;
    }
    .new-visit:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.226);
      color: $navy;
    }
  }
  .basic-info-form {
    margin-left: 1%;
    margin-top: 2%;
    // width: 100%;
    label {
      color: $black;
      text-transform: capitalize;
      width: 100%;
      font-weight: 600;
      input {
        margin-left: 2%;
        // padding-left: 1%;
        width: 60%;
        text-transform: capitalize;
      }
      textarea {
        margin: 1%;
        // padding-left: 1%;
        width: 95%;
        text-transform: capitalize;
      }
    }
    button {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      z-index: 100;
      transition: all 100ms;
      border-style: solid;
      border-radius: 3px;
      padding: 1%;
      font-weight: 600;
    }
    button:disabled{
      background: $disabled;
      border-color: $disabled;
    }
    button:disabled:hover{
      background: $disabled;
      color: $light;
    }
    button:enabled{
      border-color: $navy;
      color: $light;
      background-color: $navy;
      
    }

    .btn-delete, .btn-confirm-delete{
      right: 5rem;
    }

    .btn-confirm-delete:focus{
      background: rgba(212, 13, 13, 0.8);
    }
    .btn-confirm-delete::after{
      content: "Are you sure?";
      background:rgba(212, 13, 13, 0.8);
    }

  button::before,
  button::after {
      left: 50%;
      opacity: 0;
      position: absolute;
      z-index: -100;
  }

  button:hover::before,
  button:focus::before,
  button:hover::after,
  button:focus::after {
      opacity: 1;
      transform: scale(1) translateY(0);
      z-index: 100; 
  }

  button::after {
      background:$navy;
      border-radius: 3px;
      font-size: 0.46em;
      bottom: 110%;
      color: $light;
      content: attr(tooltip-active);
      margin-left: -3.25em;
      padding: 0.2em;
      transition: all .3s cubic-bezier(.84,-0.18,.31,1.26) .2s;
      transform:  scale(.6) translateY(50%);  
      width: 6.5em;
  }
  button:disabled::after{
    content: attr(tooltip-inactive)
  }

  button:hover::after,
  button:focus::after  {
      transition: all .3s cubic-bezier(.84,-0.18,.31,1.26);
}

    button:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.226);
      color: $navy;
    }
  }
}
